<div class="container">
  <div class="interface">
    <div class="fraction-name">{{ gameControlService.selectedFraction }}</div>
    <div class="resources">
      <img
        class="heart"
        src="../../../../assets/Photoes/hearth.png"
        alt="hearths"
      />
      <div class="count-of-smth">3</div>
      <div class="coin">
        <div class="coin__front"></div>
        <div class="coin__edge"></div>
        <div class="coin__back"></div>
        <div class="coin__shadow"></div>
      </div>
      <div class="count-of-smth">10</div>
    </div>
  </div>
  <div class="giveUpField">
    <a
      (click)="gameControlService.handleChangeContent(GamePhases.FINISH_GAME)"
      class="btn-slide"
    >
      <span class="circle">
        <i class="fa-solid fa-film"></i>
      </span>

      <span class="title">Give up</span>
      <span class="title title-hover">Оффнуть с позором</span>
    </a>
  </div>
</div>
