<div class="background">
  <div class="container rules-header">Rules</div>
  <div class="sub-rules">
    <p class="paragraph">
      Battle for Weakness is a tabletop multiplayer PvP card game, the goal of
      which is to defeat your opponent.
    </p>
  </div>
  <div class="container rules-header-second">Preparation for the “battle”</div>
  <div class="sub-rules">
    <p class="paragraph">
      Before the start of the battle, each player must choose a deck of a
      certain faction (at the moment these are “Mountains” and “Swamp”). For
      each faction, certain cards are available that are related to the selected
      faction in style and have a certain set of unique parameters and
      abilities. The choice of your strategy for the game and the gaming
      experience you have gained will depend on the choice of the faction
    </p>
  </div>
  <div class="map-container">
    <button>
      <img
        class="map-photo"
        src="../../../assets/Photoes/PhotoForRules/map.jpg"
        alt="Map"
      />
    </button>
  </div>
  <div>
    <a href="../../../assets/Rules.pdf" download="Rules">
      <img
        src="../../../assets/Photoes/pdf-image.jpg"
        alt="Rules"
        width="40"
        height="52"
      />
    </a>
    Скачать правила.
  </div>
</div>
