.wrapper {
  border-radius: 55px;
  border: 5px solid #000;
  background: linear-gradient(
    180deg,
    rgba(121, 85, 72, 0.62) 0%,
    rgba(121, 85, 72, 0) 49.85%,
    rgba(121, 85, 72, 0.62) 100%
  );
  position: absolute;
  border: 0;
  top: 15%;
  left: 35%;
  min-width: 600px;
  min-height: 450px;
  height: 70%;
}

.backButton {
  position: absolute;
  right: 40px;
  top: 13%;
  border-radius: 5px;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  min-width: 270px;
  min-height: 70px;
}

.backImg {
  background: linear-gradient(
    180deg,
    rgba(121, 85, 72, 0.62) 0%,
    rgba(121, 85, 72, 0) 49.85%,
    rgba(121, 85, 72, 0.62) 100%
  );
}
