.aboveCenter {
  position: absolute;
  top: 80%;
}

.wrapper {
  position: absolute;
  border: 0;
  top: 20%;
  left: 35%;
  border-radius: 15px;
  background-color: white;
  min-width: 600px;
  min-height: 450px;
  height: 70%;
}
.header {
  text-align: center;
  margin: 1rem 0;
}

.nameOfInput {
  margin: 0 0 3px;
  padding-left: 30px;
}

.myInput {
  margin-left: 30px;
  margin-right: 30px;
  width: calc(100% - 60px);
  min-height: 40px;
  border: 0;
}
input {
  width: 100%;
  border: 0;
  font-size: 18px;
  border-radius: 10px;
  background-color: rgb(191, 188, 188);
  min-height: 30px;
}

.loginDiv {
  min-height: 70px;
}

.loginButton {
  font-size: 24px;
  width: 100%;
  background-color: rgb(74, 74, 231);
  border: 0;
  color: white;
}
