<div class="wrapper">
  <h1 class="header"><strong>Battle For Weakness</strong></h1>
  <h2 class="header"><strong>Registration</strong></h2>

  <div *ngFor="let item of [0, 1, 2, 3]; let rowIndex = index">
    <div class="nameOfInput">{{ inputProps[item] }}</div>
    <div class="myInput">
      <input
        [(ngModel)]="valueProps[item]"
        type="{{ rowIndex === 0 || rowIndex === 1 ? 'text' : 'password' }}"
      />
    </div>
  </div>
  {{ displayPassword }}
  <div class="loginDiv">
    <button class="loginButton" (click)="getData()">Войти</button>
  </div>
  {{ displayLogin }}
</div>
<div class="aboveCenter">
  User name: <input type="text" [(ngModel)]="value" />
  <button (click)="search()">Search</button>
  <div *ngIf="response">{{ answer }}</div>
</div>
