<div class="wrapper">
  <ng-container [ngSwitch]="true">
    <div *ngSwitchCase="pageContentService.currentMenu === chapterMenu.SIGNIN">
      <app-signin></app-signin>
    </div>
    <div *ngSwitchCase="pageContentService.currentMenu === chapterMenu.SIGNUP">
      <app-signup></app-signup>
    </div>
  </ng-container>
</div>
<button
  (click)="pageContentService.handleChangeContent(pages.MAIN_PAGE)"
  class="backButton"
>
  <img class="backImg" src="../../../../assets/Photoes/backButton.jpg" alt="" />
</button>

<div class="aboveCenter">
  User name: <input type="text" [(ngModel)]="value" />
  <button (click)="search()">Search</button>
  <div *ngIf="answer">{{ answer }}</div>
</div>
