<div class="container">
  <mat-card class="developerCard">
    <img mat-card-image src="../../../assets/Photoes/Andrew.jpg" alt="Andrew" />
    <div class="name">Kozubenko Andrew</div>
    <mat-card-content class="description">
      The author of this game, backend developer.
    </mat-card-content>
  </mat-card>
  <mat-card class="developerCard">
    <img
      mat-card-image
      src="../../../assets/Photoes/Dmitriy.jpg"
      alt="Dmitriy"
    />
    <div class="name">Polyachkov Dmitriy</div>
    <mat-card-content class="description">
      Backend developer.
    </mat-card-content>
  </mat-card>
  <mat-card class="developerCard">
    <img mat-card-image src="../../../assets/Photoes/Nikita.jpg" alt="Nikita" />
    <div class="name">Volkov Nikita</div>
    <mat-card-content class="description">
      Frontend developer.
    </mat-card-content>
  </mat-card>
  <mat-card class="developerCard">
    <img mat-card-image src="../../../assets/Photoes/sveta.jpg" alt="Sveta" />
    <div class="name">Yakutina Svetlana</div>
    <mat-card-content class="description">
      Frontend developer.
    </mat-card-content>
  </mat-card>
</div>
