<div class="toolBarBackground">
  <span class="nameOfGame">Battle For Weakness</span>
  <div class="containerTool">
    <button
      (click)="pageContentService.handleChangeContent(Pages.MAIN_PAGE)"
      class="menuBtn"
    >
      <span class="toolbarButtonText">Main Page</span>
      <img
        class="toolbarImg"
        src="../../assets/Photoes/toolbarButton.jpg"
        alt="Account"
      />
    </button>
    <button
      (click)="pageContentService.handleChangeContent(Pages.GAME_PAGE)"
      class="menuBtn"
    >
      <div class="toolbarButtonText">Game</div>
      <img
        class="toolbarImg"
        src="../../assets/Photoes/toolbarButton.jpg"
        alt="Account"
      />
    </button>
    <button
      (click)="pageContentService.handleChangeContent(Pages.RULES_PAGE)"
      class="menuBtn"
    >
      <div class="toolbarButtonText">Rules</div>
      <img
        class="toolbarImg"
        src="../../assets/Photoes/toolbarButton.jpg"
        alt="Account"
      />
    </button>
    <button
      (click)="pageContentService.handleChangeContent(Pages.DEVELOPERS_PAGE)"
      class="menuBtn"
    >
      <div class="toolbarButtonText">Developers</div>
      <img
        class="toolbarImg"
        src="../../assets/Photoes/toolbarButton.jpg"
        alt="Account"
      />
    </button>
    <button
      (click)="pageContentService.handleChangeContent(Pages.AUTHORIZATION_PAGE)"
      class="menuBtn"
    >
      <div class="toolbarButtonText">Account</div>
      <img
        class="toolbarImg"
        src="../../assets/Photoes/toolbarButton.jpg"
        alt="Account"
      />
    </button>
  </div>
</div>
