<div class="toolBarBackground">
  <span class="nameOfGame">Battle For Weakness</span>
  <div class="containerTool">
    <button
      (click)="pageContentService.handleChangeContent(Pages.MAIN_PAGE)"
      class="menuBtn"
    >
      Main Page
    </button>
    <button
      (click)="pageContentService.handleChangeContent(Pages.GAME_PAGE)"
      class="menuBtn"
    >
      Game
    </button>
    <button
      (click)="pageContentService.handleChangeContent(Pages.RULES_PAGE)"
      class="menuBtn"
    >
      Rules
    </button>
    <button
      (click)="pageContentService.handleChangeContent(Pages.DEVELOPERS_PAGE)"
      class="menuBtn"
    >
      Developers
    </button>
    <button
      (click)="pageContentService.handleChangeContent(Pages.AUTHORIZATION_PAGE)"
      class="menuBtn"
    >
      <span>Account</span>
    </button>
  </div>
</div>
