.toolBarBackground {
  position: absolute;
  background-image: url("../../assets/Photoes/toolbarBackground.jpg");
  background-size: cover;
  background: linear-gradient(
    180deg,
    rgba(121, 85, 72, 0.62) 0%,
    rgba(121, 85, 72, 0) 49.85%,
    rgba(121, 85, 72, 0.62) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #000;
  padding-inline-start: 30px;
  border-radius: 55px;
  width: 90%;
  left: 5%;
  top: 10%;
}

.nameOfGame {
  flex-grow: 2;
  color: #000;
  caret-color: transparent;
  text-align: center;
  font-family: Syne Tactile;
  font-size: 45px;
  cursor: pointer;
}

.containerTool {
  flex-grow: 5;
  display: flex;
  margin-inline-start: 10px;
  margin-inline-end: 10xp;
}

.menuBtn {
  flex-shrink: 0;
  flex-basis: 0;
  flex-grow: 1;
  color: white;
  background-image: url("../../assets/Photoes/toolbarMenuButton.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  font-size: 30px;
  border-radius: 55px;
  min-width: 60px;
  min-height: 80px;
  cursor: pointer;
  &:hover {
    color: #f40c0c;
  }
}

// @media (max-width: 700px) {
//   .nameOfGame {
//     display: none;
//   }
// }

// @media (max-width: 830px) {
//   .accountNameText {
//     display: none;
//   }

//   .accountPlace {
//     max-width: 40px !important ;
//   }

//   .accountPicture {
//     right: 0rem;
//   }

//   .accountName {
//     right: 0rem;
//     max-width: 40px;
//     max-height: 40px;
//     border-radius: 50%;
//     border: 0px;
//     background-color: rgb(77, 77, 245);

//     &:active {
//       border: 3px;
//     }
//   }
// }
