.container {
  position: absolute;
  color: #000;
  text-align: center;
  font-family: Tana Uncial SP;
  font-size: 100px;
  right: 0;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5px;
  left: 0;
  top: 40%;
}
