<div class="statistics">
  <div class="header">
    <div><strong>Статистика </strong></div>
  </div>

  <div class="closeButton">
    <div class="cl-btn-6">
      <div class="cl-btn-6-in">
        <div
          (click)="gameControlService.handleGameEnded()"
          (click)="gameControlService.handleChangeContent(GamePhases.PREPARING)"
          class="cl-btn-6-txt"
        >
          Main Menu
        </div>
      </div>
    </div>
  </div>
  <ul class="list">
    <li class="elementOfList">Итог игры</li>
    <li class="elementOfList">Выбор фракции</li>
    <li class="elementOfList">Продолжительность игры</li>
    <li class="elementOfList">Количество потраченных денег</li>
  </ul>
</div>
