<mat-toolbar class="toolBarBackground">
  <span class="nameOfGame">Battle For Weakness</span>
  <div class="containerTool mx-auto">
    <span></span>
    <button (click)="handleChangeContent(Pages.MAIN_PAGE)" class="btn menuBtn">
      Main Page
    </button>
    <button class="menuBtn">Second</button>
    <button class="menuBtn" [matMenuTriggerFor]="belowMenu">Third</button>
    <mat-menu class="menuBtn" #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
  <div class="accountPlace">
    <button
      (click)="handleChangeContent(Pages.SECOND_PAGE)"
      class="accountName"
    >
      <img
        class="accountPicture"
        src="../assets/Photoes/profilePhoto.jpg"
        alt="YourPicture"
      />
      <span class="accountNameText">AccountName</span>
    </button>
  </div>
</mat-toolbar>

<div [ngSwitch]="currentPage">
  <div *ngSwitchCase="Pages.MAIN_PAGE">
    <ng-container></ng-container>
  </div>
  <div *ngSwitchCase="Pages.SECOND_PAGE">
    <div class="mainBackground">
      <h1 [class.red]="text !== 'Hello world'">{{ text }}</h1>
      <h3 *ngIf="text !== 'Hello world'">Текст развернут</h3>
      <button (click)="changeText()">Изменить текст</button>
      <div *ngFor="let item of array">{{ item }}</div>
      <button (click)="removeItem()">Удалить</button>
    </div>
  </div>
  <div *ngSwitchCase="Pages.THIRD_PAGE">value is 3</div>
</div>
