<div class="container">
  <mat-card class="developerCard">
    <img mat-card-image src="../../../assets/Photoes/Andrew.jpg" alt="Andrew" />
    <mat-card-content>
      The author of this game, backend developer.
    </mat-card-content>
  </mat-card>
  <mat-card class="developerCard">
    <img
      mat-card-image
      src="../../../assets/Photoes/Dmitriy.jpg"
      alt="Dmitriy"
    />
    <mat-card-content> Backend developer. </mat-card-content>
  </mat-card>
  <mat-card class="developerCard">
    <img mat-card-image src="../../../assets/Photoes/Nikita.jpg" alt="Nikita" />
    <mat-card-content> Frontend developer. </mat-card-content>
  </mat-card>
  <mat-card class="developerCard">
    <img mat-card-image src="../../../assets/Photoes/sveta.jpg" alt="Sveta" />
    <mat-card-content> Frontend developer. </mat-card-content>
  </mat-card>
</div>
